@charset "utf-8";
/*
 * CSS Document
 * Written by Ryan Yonzon
 * http://ryan.rawswift.com/
 */


html, body {

}

#main_container {
	width:100%;
	background-color:#ffffff; /* DO NOT REMOVE THIS; or you'll have issue w/ the scrollbar, when the mouse pointer is on a white space */
	overflow-x: hidden;
	overflow-y: scroll;
	height:100%;	/* this will make sure that the height will extend at the bottom */
	position:absolute; /* container div must be absolute, for our fixed bar to work */
}

.asterisk_info table {
	xtable-layout: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse:collapse; 
	margin-bottom: 5px;
}
.asterisk_info td		{	padding: 2px; vertical-align:top;}
.asterisk_data td		{	padding-left: 6px;}
.asterisk_info input .callboxtextarea {	width: 100%;}
.asterisk_create_call input	{	width: 100%;}
.asterisk_info h4x	{	padding: 0;margin: 0;}
td.asterisk_state		{	font-weight: bold; text-align: center;}

.asterisk_placeCall {
	border: 0px;
	background: 0;
}
.asterisk_placeCall:hover {background: 0 !important; border: 0;}

.asteriskActionsLinks {
    font-family: Verdana,sans-serif;
    font-size: 0.8em;
}

.tabTopBar {
    height: 30px;
}

#dialpad {
    background: url(custom/modules/Asterisk/include/images/dialpad-grid.png) no-repeat 0 2px;
}

.call_duration {
    width: 20%;
}

.asterisk_info {
    margin-top: -18px; 
}

.asterisk_data {
    padding-bottom:0px;
    margin-bottom:0px;
}

.caller_id_box {
    display:none;
}
.callbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
	z-index: 9999; /** Added by BR because pagination buttons were showing through **/
        right: 20px; 
        bottom: 0px; 
        display: block;
}

.callboxhead {
	background-color: #f99d39;
	padding:7px;
	color: #ffffff;
	cursor: pointer;

	border-right:1px solid #f99d39;
	border-left:1px solid #f99d39;
}

.callboxblink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.callboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:150px; /** br orig = 200 **/
	width:209px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.callboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.callboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
}

.callboxtextareaselected {
	border: 2px solid #f99d39;
	margin:0;
}

.callboxmessage {
	margin-left:1em;
}

.callboxinfo {
	margin-left:-1em;
	color:#666666;

}

.callboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.callboxmessagecontent {
}

.callboxoptions {
	float: right;
}

.callboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.callboxtitle {
	float: left;
}

.multiplematchingcontacts, .singlematchingcontact, .nomatchingcontact {
        display: none;
}

.asterisk_save_status {
    width:150px;
}

.callboxinput {
    display: block;
}

.callbox_close {
    font-size:110%;
}