<div id="{{chatbox_id}}" class="chatbox">
    <div class="chatboxhead" onclick="javascript:toggleChatBoxGrowth('{{asterisk_id}}')">
        <div class="chatboxtitle">{{title}}</div>
        <div class="chatboxoptions">
            <a href="javascript:void(0)" style="font-size:110%;" onclick="javascript:closeChatBox('{{asterisk_id}}')">X</a>
        </div>
        <br clear="all">
    </div>
    <div class="chatboxcontent">  
        <div class="asterisk_info" id="{{asterisk_info}}">

            <h4 id="call_type">{{call_type}}</h4>

            <div class="tabForm">
                <table class="asterisk_data" id="asterisk_data">

                    <tr>
                        <td colspan="2" class="listViewThS1 asterisk_state">{{asterisk_state}}</td>
                    </tr>
                    
                    <tr id="multiplecontactcase">
                        <td colspan="2">
                            <b>Select Contact:</b>
                            <br>
                            <span class="call_contacts">
                                <!-- this will get cloned based on how many results there are and then the array in callPopups.js will spit out the contacts -- do not use each function in handlebars - keep this logic-less -->
                                <p id="contact_{{contact_id}}">
                                <input type=radio name=contactSelect onclick="javascript:setContactId('{{call_record_id}}','{{contact_id}}')" value={{contact_id}}>&nbsp;&nbsp;
                                <a id="astmultcontact" title="{{mouse_over_title}}" href="index.php?module=Contacts&action=DetailView&record={{contact_id}}">{{contact_full_name}}</a>
                                </p>
                            <br>
                            </span>
                        </td>
                    </tr>
                    
                    <tr id="nomatchingcontacts">
                        <td colspan="2">
                            <b>Select Contact:</b><br>
                            <span class="call_contacts"></span>
                        </td>;
                    </tr>

                    <tr id="caller_id_box">
                        <td id="caller_id_label">Caller ID:</td>
                        <td id="caller_id"></td>
                    </tr>
                    <tr id="phone_number_box">
                        <td id="phone_number_label">Phone Number:</td>
                        <td id="phone_number"></td>
                    </tr>

                    <tr id="call_duration_box">
                        <td id="call_duration_label">Duration:</td>
                        <td>
                            <span class="call_duration">{{duration}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div class="chatboxinput" style="display: block; ">
        <textarea id="{{chatboxtextarea}}" class="chatboxtextarea chatboxtextareaselected" onkeydown="javascript:return checkChatBoxInputKey(event,this,'{{asterisk_id}}');">
        </textarea>
        <div class="chatboxbuttons">
            <table width="100%">
                <tbody>
                    <tr>
                        <td valign="bottom">
                            <span style="width=150px;" class="asterisk_save_status">&nbsp;</span>
                            <img id="{{transfer_image}}" src="custom/modules/Asterisk/include/images/call_transfer-blue.png" height="19" title="Transfer Call" onclick="javascript:showTransferMenu('{{asterisk_id}}');">
                        </td>
                        <td align="right">
                            <input style="" type="button" name="saveMemo" value="Save" onclick="javascript:saveMemo('{{asterisk_id}}');">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>